body {
    background-color: hsl(50, 59%, 79%);
}

section {
    text-align: center;
}

ul {
    list-style-type: none;
}

input[type=text], select {
    width: 8%;
    padding: 2px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }