.Main {
/*     min-height: calc(100vh - 100px); */
}
.Logo {
    display: flex;
    justify-content: center;  
    width: 100%;
}

.Logo a {
    margin-top: 11%;
    margin-bottom: 1%;
}

.Search {
    margin: 0 auto;
    width: 582px;
/*     height: 46px; */
    border-radius: 24px;
    border-width: thin;
    border-color:rgb(191, 214, 214);
    border-style: solid;
    display: flex;
} 

.Search:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.Search input {
    margin: 5px;
    width: 400px;
    height: 40px;
    border-style: none;
    outline: none;
    font-size: 24px;
}

.buttonsright {
    position: absolute;
    margin-top: 15px;
    margin-left: 45px;
    width: 40px;
}

.Banner {
    display: flex;
    justify-content: center;  
    width: 100%;
    margin-top: 20%;
}

.lupa {
   margin: 15px;
   width: 20px;
}
.lupa svg {
    width: 20px;
}

.buttonsright {
     float: right;
}

.buttonsright svg {
    width: 20px;
}
