.Main {
    min-height: calc(100vh - 100px);
}
.Logo {
    display: flex;
    justify-content: center;  
    width: 100%;
}

.Logo a {
    margin-top: 11%;
    margin-bottom: 1%;
}

.Search {
    margin: 0 auto;
    width: 582px;
    height: 46px;
    border-radius: 24px;
    border-width: thin;
    border-color:rgb(191, 214, 214);
    border-style: solid;
} 

.Search:hover {
    box-shadow: 0 0 8px rgba(33,33,33,.2); 
}

.Buttons {
    display: flex;
    justify-content: center;  
    margin-top: 30px;
}

.Buttons button {
    padding: 10px 20px;
    border-radius: 6px;
    border-style: none;
    margin: 6px 
}

.Buttons button:hover {
    box-shadow: 0 0 4px rgba(15, 13, 13, 0.2); 
}

.Banner {
    display: flex;
    justify-content: center;  
    width: 100%;
    margin-top: 20%;
}