.profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.363);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 15px 50px;
    background-color: rgba(201, 221, 199, 0.363);
}

#user_image, img{
  border-radius: 50%;

}

.profile, img {
  width: 80%;
}

#logos {
  display:  inline-flex;
}

.title {
  color: grey;
  font-size: 18px;
}

body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  width: 100%;
  display: grid;
  justify-content: center;
}  